/*form*/

/* section */
.form{
  position: relative;
  width: 100vw;
  display: flex;
  justify-content:center;
  align-items: center;
  background: #061729;
}


 input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button_create {
    width: 100%;
    background-color: #061729;
    color: white;
    font-weight: 600;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .button_create:hover {
    background-color: #596FA8;
  }


  .button_update {
    width: 100%;
    background-color: #1B2631;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .button_update:hover {
    background-color: #596FA8;
  }
  
  .containerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 3%;
    margin-top: 5%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  .container-img {
    display: flex;
    flex-direction: column;
    align-items: right;
  }




  @media only screen and (max-width:450px) {
 
    .input_form {
        width: 70% !important;
    }    
    
    .containerForm {
      width: 45%;
    }
}


  @media only screen and (max-width:820px) {

    .containerForm{
    width: 100%;
    margin: 5%;
  }

  .add-button{
    padding: 0.3%;
        
}






}