/*form*/

/* section */
.form{
  position: relative;
  width: 100%;
  display: flex;
  justify-content:center;
  align-items: center;
}


 input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .button_update {
    width: 100%;
    background-color: #1B2631;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .button_update:hover {
    background-color: #596FA8;
  }
  
  .containerForm {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 5%;
    width: 50%;
    justify-content: center;
    align-items: center;
  }

  @media only screen and (max-width:450px) {
 
    .input_form {
        width: 70% !important;
    }    
    
    .containerForm {
      width: 100%;
    }

}