

.movieList{
    background-color: #F1F0F0;
    justify-content: center;
    grid-template-columns: 20% 20% 20% 20%;
    display: grid;
    gap: 2em; 
}


.add-button{
    font-family: 'Rubik', sans-serif;
    width: 100vw;
    height: 4em;
    justify-content: left;
    align-items: center;
    margin: 0%;
    color: #000000;  
    font-size: 23px;
    letter-spacing: 1px;
    padding: 13px 30px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}    
      
.add-button {
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 1px;
    padding: 13px 50px 13px;
    outline: 0;
    font-weight: 600;
    font-size: 23px;
    cursor: pointer;
    position: relative;
    color:#252839;
  }
  
  .add-button:after {
    content: "";
    background-color: #bd0a31;
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
  }
  
  .add-button:hover::after {
    top: 0px;
    left: 0px;
  }




/* Media Query */


@media only screen and (max-width:820px) {

    .movieList{
    grid-template-columns: 47% 47%;

    } 
}

@media only screen and (max-width:450px) {

    .movieList {
       grid-template-columns: 100%;
    } 

    .button_info{
        width: 3.5em;
        height: 3.5em;
    }  
 
 }


