/* CARD */

.movieCard{
    width: 17%;
    margin: 1.5%;
    filter: drop-shadow(0px 0px 6px #03112F );
    border-radius: 5px 30px 45px 60px;
    min-width: none;
      
}


/* MOVIE IMAGE */

/*.movieImg{
    /*background-color: #212F3D;
    position: relative;*/


.movieImg img{
    width: 100%;
    height: 80%;
    object-fit:fill;
}


.movieImg img:hover{
    width: 100%;
    height: auto;
    object-fit:cover;
    opacity: 0.5;
}


/* MOVIE INFO */

.containerText{
    background-color: #17202A;
    display: flex;
    align-items: center;
    margin-top: -1.5%;
}

.movieText{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.movieText h2{
    background-color: inherit;
    font-weight: bold;
    color:#596FA8;
    font-weight: 100%;
    font-size:1em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movieText h4{
    background-color: inherit;
    color:#EAECEE;
    font-size: 1em;
    margin-top: 2%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.year{
    border-radius: 10%;
    z-index: 3;
    top: -83px;
    position: relative;
}

.containerButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top:-4%;
}


.buttonDelete{
    color:#EAECEE;
    font-size: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    transition-duration: 0.4s;
    background-color: #17202A;
    color: #596FA8;
    border-radius: 0.5px #596FA8;
}

.buttonDelete:hover{
    background-color: #596FA8;
    opacity: 0.5;
    color:#EAECEE;
}


/* Botón eliminar */

.buttonEdit{
    color:#EAECEE;
    font-size: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    transition-duration: 0.4s;
    background-color: #17202A;
    color: #596FA8;
    border-radius: 0.5px #596FA8;
}


.buttonEdit:hover{
    background-color: #596FA8;
    opacity: 0.5;
    color:#EAECEE;
}

@media only screen and (max-width:450px) {
    
    
    .movieCard{
        width: 43%;
        margin: 3.5%;
    }
    
    .movieText h2{
        font-size: 14px;
    }
    
    .movieText h4{
        font-size: 10px;
    }
    
    .buttonDelete{
        font-size: 60%;
    }
     
    .buttonEdit{
        font-size: 60%;
    }

    
    

}