/* CARD */

.movieCard{
    width: 17%;
    margin: 2%;
    filter: drop-shadow(2px 1px 6px #061729 );
    border-radius: 5px 30px 45px 60px;
    position: relative;
    align-items: center; 
    object-fit: cover;    
}

/* MOVIE IMAGE */

.movieImg{
    background-color: #212F3D;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    overflow-x: hidden;
}


.movieImg_img{
    width: 100%;
}


.movieImg_img:hover{
    opacity: 0.5;
}


/* MOVIE INFO */

.containerText{
    background-color: #17202A;
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    margin:auto;
    flex-direction: row;
    margin-top: -1.5%;
}

.movieText{
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 4%;
}

.movieText h2{
    background-color: inherit;
    font-weight: bold;
    color:#596FA8;
    font-weight: 100%;
    font-size:1em;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.movieText h4{
    background-color: inherit;
    color:#EAECEE;
    font-size: 1em;
    margin-top: 2%;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.year{
    border-radius: 10%;
    z-index: 3;
    top: -83px;
    position: relative;
}

.containerButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top:-4%;
}


.buttonDelete{
    color:#EAECEE;
    font-size: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    transition-duration: 0.4s;
    background-color: #17202A;
    color: #596FA8;
    border-radius: 0.5px #596FA8;
}

.buttonDelete:hover{
    background-color: #596FA8;
    opacity: 0.5;
    color:#EAECEE;
}


/* Botón eliminar */

.buttonEdit{
    color:#EAECEE;
    font-size: 90%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 50%;
    transition-duration: 0.4s;
    background-color: #17202A;
    color: #596FA8;
    border-radius: 0.5px #596FA8;
}


.buttonEdit:hover{
    background-color: #596FA8;
    opacity: 0.5;
    color:#EAECEE;
}

@media only screen and (max-width:450px) {
    
    
    .movieCard{
        width: 42%;
        margin: 2.5%;
    }
    
    .movieText h2{
        font-size: 11px;
    }
    
    .movieText h4{
        font-size: 12px;
    }

    .year{
        z-index: 3;
        top: -63px;
        position: relative;
    }
    
    .buttonDelete{
        font-size: 60%;
    }
     
    .buttonEdit{
        font-size: 60%;
    }

    
    

}