

.navBar {

  background: rgba(0,0,0,0.9);
  width: 100vw;
  height: 5vw;
  position: fixed;
  display: flex;
  justify-content: center;
  z-index: 100;
  flex-direction: row;

}

.title-logo{
padding-top: 2rem;
align-items: center;

}

